.gauge-list, .gauge-list-item, .gauge-list-item-wrap, .gauge-list-item-inner, .gauge-point, .gauge-pointer {
  font: inherit;
  font-size: 100%;
  line-height: 1;

  margin: 0;
  padding: 0;

  border: 0;
}

.gauge-list {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  list-style: none;
}
.gauge-list:after {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 4px;
  height: 4px;

  content: '';
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: #000;
}

.gauge-list-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
}

.gauge-list-item-wrap {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.gauge-list-item-wrap:before {
  position: absolute;
  z-index: 99;
  top: 81%;
  left: 51%;

  width: 1px;
  height: 5px;

  content: '';
  transform: rotate(-70deg);

  background-color: #000;
}
.is-inner .gauge-list-item-wrap:before {
  top: 82.5%;
  left: 56%;
}

.gauge-list-item-inner {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 100%;

  display: inline-block;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  text-align: center;

  border-radius: 50%;
  background-color: #999;
}

.gauge-list-item-inner:before {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;

  width: 99%;
  height: 99%;

  content: '';
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: #fff;
}
.gauge-list-item-inner:after {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 4px;
  height: 4px;

  content: '';
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: #000;
}
.gauge-list-item:first-child .gauge-list-item-inner {
  background-color: #fda428;
  background-image: linear-gradient(25deg, #fff 0%, #fff 49.7%, #999 49.75%, #999 100%);
}
.gauge-list-item:nth-last-child(2) .gauge-list-item-inner {
  background-color: #fda428;
  background-image: linear-gradient(25deg, #fda428 0%, #fda428 100%);
}
.gauge-list-item:last-child .gauge-list-item-inner {
  background-color: #fc0d1b;
  background-image: linear-gradient(25deg, #fda428 0%, #fda428 25.70%, #fc0d1b 25.75%, #fc0d1b 49.70%, #fff 49.75%, #fff 100%);
}

.gauge-point {
  position: absolute;
  z-index: 99;
  top: 25%;
  left: -2%;
}
.is-inner .gauge-point {
  top: 30%;
  left: 9%;
}

.gauge-pointer {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 0;
  height: 0;

  transition: transform .5s cubic-bezier(.18, .89, .32, 1.28);
  transform: translate(-50%,0) rotate(45deg);
  transform-origin: 50% 0;

  border-width: 250px 5px 0 5px;
  border-style: solid;
  border-color: #299ae1 transparent transparent transparent;
  background-color: transparent;

  will-change: transform;
}

.gauge-pointer:after {
  position: absolute;
  top: -50%;
  left: 100%;

  width: 20px;
  height: 20px;

  content: '';
  transform: translate(-50%,-260px);

  border-radius: 50%;
  background-color: #299ae1;
}
